<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div>

<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>




<h2>Tabela Referencia</h2>
<ul class="heroes">
    <!--<li *ngFor="arrayTabelaReferencia he of item" [class.selected]="item === selectedHero" (click)="selecionarTabelaReferencia(item)"> !-->
      <li *ngFor="let item of arrayTabelaReferencia" >
    <span class="badge">{{item.codigo}}</span> {{item.mesAno}}
  </li>
</ul>




<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>!-->
